<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GridProject" connectionString="Data Source = 50.19.182.199;Initial Catalog = GridProject;Integrated Security=false;User ID=grid; Password=grid" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAISGN5L4IKM22ZZXA"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSRegion" value="us-west-2" />
    <add key="LogFile" value="../../../ErrorLog.txt"/>
    <add key="Icon" value="../../Icon/Icon.ico"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>